body {
	font: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
	padding: 0;
	color: #000;
	background: #fff2df;
}
.container {
  margin: 0 auto;
	text-align: center;
  width: 700px;
}

.strap_h1{
	height: 45px;
	width: 700px;
	align-self: center;
	background-color: #ffcc5c;

	display: block;
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
	align: center;
}

#start {
  float: right;
	background-color: #d9ad7c;
	height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 800; /* make bold */
	line-height: 40px;
	cursor: pointer;
}

#message {
	float: left;
	height: 50px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 800;
	line-height: 40px;
}

#score {
	
	background-color: none;
	height: 40px;
	width: 250px;
	font-family: 'Montserrat', san-serif;
	font-size: 20px
	font-weight: 400;
	line-height: 40px
}




.board {
	float:left;
	margin-top: 10px;
	width: 100%;
}

.row {
  height: 110px;
}

.cell{
	display: inline-block;
  width:100px;
  height:100px;
  border:1px solid #d9ad7c;
}

.x{
	background-image: url(../images/man.png);
	background-repeat: no-repeat;
	background-position: center;
}


.o{
	background-image: url(../images/donut.png);
	background-repeat: no-repeat;
	background-position: center;
}
